# MCON 141 — Class 14: Tuples LAB
Follow along by **running each code cell**. Edit the **TODO** sections as you practice.

**Core idea:** Tuples are **immutable records** — fixed, safe, lightweight, intentional.

## 1) What is a tuple?
- **Fixed-size** sequence
- **Immutable** (cannot change after creation)
- Often used for **records** (values that belong together)

Examples: `(row, col, color)`, `(x, y)`, `(name, age, major)`

In [2]:
# A few tuple "records"
coord = (4, 7)
student = ("Alice", 19, "CS")
candy = (2, 5, "Red")

print(coord)
print(student)
print(candy)

(4, 7)
('Alice', 19, 'CS')
(2, 5, 'Red')

## 2) What does “tuples are lightweight” mean?
Tuples are considered *lightweight* because:
1. **Fewer built-in operations** (no `append`, `insert`, `remove`)
2. **Immutability enables efficiency** (often slightly faster to create/iterate)
3. **Conceptually lightweight** (small groups of values that stay together)
4. **Hashable** (when contents are hashable) → usable as dict keys / set elements

## 3) Indexing, slicing, iteration, and common methods
Tuples support:
- Indexing
- Slicing
- Iteration
- `len`, `min`, `max`, `sum` (if numeric)
- `.count(x)` and `.index(x)`

In [3]:
t = (10, 20, 20, 30, 40)
print("t =", t)

# Indexing
print("t[0]  =", t[0])
print("t[-1] =", t[-1])

# Slicing
print("t[1:4] =", t[1:4])
print("t[:3]  =", t[:3])
print("t[3:]  =", t[3:])
print("t[::2] =", t[::2])

# Iteration
print("\nIterating:")
for x in t:
    print(" ", x)

# Built-ins
print("\nlen(t) =", len(t))
print("min(t) =", min(t))
print("max(t) =", max(t))
print("sum(t) =", sum(t))  # works because all are numeric

# Tuple methods
print("\nt.count(20) =", t.count(20))  # how many 20s?
print("t.index(30) =", t.index(30))     # first index where 30 appears

t = (10, 20, 20, 30, 40)
t[0]  = 10
t[-1] = 40
t[1:4] = (20, 20, 30)
t[:3]  = (10, 20, 20)
t[3:]  = (30, 40)
t[::2] = (10, 20, 40)

Iterating:
  10
  20
  20
  30
  40

len(t) = 5
min(t) = 10
max(t) = 40
sum(t) = 120

t.count(20) = 2
t.index(30) = 3

## 4) Generating tuples (creating tuples)
Common ways to create tuples:
1. Parentheses: `(1, 2, 3)`
2. Commas (parentheses optional): `1, 2, 3`
3. Single-item tuples need a trailing comma: `(5,)`
4. `tuple(...)` constructor: `tuple(range(4))`, `tuple('abc')`
5. Packing/unpacking
6. From a generator expression: `tuple(x*2 for x in range(5))`
7. Empty tuple: `()`

In [4]:
# 1) Parentheses
a = (1, 2, 3)

# 2) Commas
b = 1, 2, 3

# 3) Single-item tuple
c = (5,)
not_a_tuple = (5)

# 4) tuple() constructor
d = tuple([1, 2, 3])
e = tuple("abc")
f = tuple(range(4))

# 5) Packing/unpacking
packed = "Ben", 22
name, age = packed

# 6) From a generator expression (tuple consumes generated values)
g = tuple(x * 2 for x in range(5))

# 7) Empty tuple
h = ()

print(a, b, c)
print("not_a_tuple =", not_a_tuple, "type:", type(not_a_tuple))
print(d, e, f)
print("packed =", packed, "| unpacked:", name, age)
print("g =", g)
print("h =", h)

(1, 2, 3) (1, 2, 3) (5,)
not_a_tuple = 5 type: <class 'int'>
(1, 2, 3) ('a', 'b', 'c') (0, 1, 2, 3)
packed = ('Ben', 22) | unpacked: Ben 22
g = (0, 2, 4, 6, 8)
h = ()

## 5) Unpacking tuples (very important)
Unpacking assigns each tuple element to a variable.
Parentheses are optional in unpacking patterns.

In [6]:
student = ("Alice", 19, "CS")
name, age, major = student
print(name, age, major)

# Parentheses optional:
(name2, age2, major2) = student
print(name2, age2, major2)

Alice 19 CS
Alice 19 CS

### Practice (TODO)
Unpack this tuple into three variables and print them:
`movie = ('Amadeus', 1984, 'Milos Forman')`

In [7]:
# TODO
movie = ('Amadeus', 1984, 'Milos Forman')

# Write your unpacking line here:
# title, year, director = ...
title, year, director = movie

# Then print:
# print(title, year, director)
print(title, year, director)

Amadeus 1984 Milos Forman

## 6) Tuples in comprehensions
When you write a **list comprehension**, you get a **list**.
To get a tuple, wrap a generator expression in `tuple(...)`.

**Also:** in unpacking, you can write `(name, age)` or `name, age` — both work.

In [8]:
students = [("Alice", 19),
            ("Ben", 22),
            ("Cindy", 18)]

# List comprehension → list
names_list = [name for name, age in students]
print("names_list:", names_list, "| type:", type(names_list))

# Tuple(...) around generator expression → tuple
names_tuple = tuple(name for name, age in students)
print("names_tuple:", names_tuple, "| type:", type(names_tuple))

# Filter example: list of tuples
adults = [(name, age) for name, age in students if age >= 20]
print("adults:", adults)

names_list: ['Alice', 'Ben', 'Cindy'] | type: <class 'list'>
names_tuple: ('Alice', 'Ben', 'Cindy') | type: <class 'tuple'>
adults: [('Ben', 22)]

## 7) Generators vs lists
A **generator** produces values **one at a time, on demand** (lazy).
A **list** stores values **immediately** (eager).

- `[ ... ]` → list comprehension → **list**
- `( ... for ... )` → generator expression → **generator**
- `tuple( ... for ... )` → **tuple**, built by consuming the generator

In [9]:
lst = [x * 2 for x in range(5)]
gen = (x * 2 for x in range(5))

print("lst =", lst, "| type:", type(lst))
print("gen =", gen, "| type:", type(gen))

print("\nIterating the generator:")
for x in gen:
    print(x)

print("\nIterating the generator again (notice: nothing happens):")
for x in gen:
    print(x)

lst = [0, 2, 4, 6, 8] | type: <class 'list'>
gen = <generator object <genexpr> at 0x7ad2b6d68380> | type: <class 'generator'>

Iterating the generator:
0
2
4
6
8

Iterating the generator again (notice: nothing happens):

## 8) Tuple immutability ****
Once a tuple is created, its **structure cannot change**:
- cannot add
- cannot remove
- cannot replace

But you *can* create a **new tuple** based on an old one.

In [10]:
t = (10, 20, 30)
print("t =", t)

# Uncomment each line one at a time to see the error messages:
# t[0] = 99
# t.append(40)
# del t[0]

new_t = t + (40,)  # creates a NEW tuple
print("new_t =", new_t)
print("original t still =", t)

t = (10, 20, 30)
new_t = (10, 20, 30, 40)
original t still = (10, 20, 30)

## 9) BIG GOTCHA: tuples can contain mutable objects
Immutability applies to the **tuple structure**, not necessarily the objects inside.

In [11]:
t = (1, 2, [3, 4])
print("Before:", t)

t[2].append(5)   # modifies the inner list
print("After: ", t)

# The tuple didn't change; the list inside it changed.

Before: (1, 2, [3, 4])
After:  (1, 2, [3, 4, 5])

## 10) Tuple of tuples (completely immutable)
If the tuple contains **only immutables** (like other tuples, ints, strings), nothing inside can be changed.

In [12]:
t = ((1, 2), (3, 4))
print("t =", t)

# Uncomment to see errors:
# t[0] = (9, 9)
# del t[0]

# But you CAN create a new tuple:
new_t = ((9, 9),) + t[1:]
print("new_t =", new_t)
print("original t still =", t)

t = ((1, 2), (3, 4))
new_t = ((9, 9), (3, 4))
original t still = ((1, 2), (3, 4))

## 11) Why Python cares: hashable tuples as dictionary keys
Tuples are hashable **only if all elements inside are hashable**.
That’s why tuples are great for keys like coordinates.

In [13]:
locations = {
    (40.7, -74.0): "NYC",
    (34.0, -118.2): "LA"
}

print(locations[(40.7, -74.0)])

# This would fail because a list is not hashable:
# bad = { (1, [2, 3]) : "oops" }

NYC

## 12) Tuple equality vs identity
### Equality (`==`)
Tuples compare by **value**, element-by-element, in order.

### Identity (`is`)
`is` means “same object in memory,” not “same value.”
Use `==` for equality. Use `is` mainly for `None`.

In [14]:
# Equality examples
print((1, 2) == (1, 2))       # True
print((1, 2) == (2, 1))       # False
print((1, 2) == (1, 2, 3))    # False

# Identity examples
a = (1, 2)
b = (1, 2)
print("a == b:", a == b)      # True
print("a is b:", a is b)      # usually False

c = a
print("a is c:", a is c)      # True

True
False
False
a == b: True
a is b: False
a is c: True

## 13) Ordering comparisons + sorting tuples (lexicographic)
Tuples can be compared **lexicographically**:
- compare first element
- if tied, compare second
- and so on

This is why tuples are useful for sorting structured records.

In [15]:
print((1, 5) < (2, 0))   # True
print((1, 5) < (1, 7))          # True

records = [(2, "B"), (1, "A"), (2, "A")]
print("sorted(records) =", sorted(records))  # sorts by first item, then second

True
True
sorted(records) = [(1, 'A'), (2, 'A'), (2, 'B')]

## 14) Copying tuples (usually unnecessary)
Most of the time: **no copy needed** because tuples are immutable.

But if a tuple contains a **mutable object** (like a list), then changes to that inner object affect all references.
If you truly need an independent copy in that case, use `copy.deepcopy`.

In [16]:
# Case 1: all immutables (no copy concerns)
t1 = (1, 2, 3)
u1 = t1
print("t1:", t1, "u1:", u1)

# Case 2: contains a mutable (copy concerns return)
t2 = (1, [2, 3])
u2 = t2
t2[1].append(4)  # modifies the inner list
print("t2:", t2)
print("u2:", u2, "<-- changed too (shared inner list)")

# Deep copy for independence (optional)
import copy
t3 = (1, [2, 3])
u3 = copy.deepcopy(t3)
t3[1].append(4)
print("\nAfter deep copy:")
print("t3:", t3)
print("u3:", u3, "<-- independent")

t1: (1, 2, 3) u1: (1, 2, 3)
t2: (1, [2, 3, 4])
u2: (1, [2, 3, 4]) <-- changed too (shared inner list)

After deep copy:
t3: (1, [2, 3, 4])
u3: (1, [2, 3]) <-- independent

## 15) Quick practice problems (TODO)
1) Create a tuple `point = (5, 9)` and print its x and y using unpacking.
2) Given `pairs = [(1,2), (3,4), (5,6)]`, build a list of the sums: `[3, 7, 11]`.
3) Create a new tuple from `t = (1,2,3)` that becomes `(1,2,3,4)`.
4) Given `records = [(2,'B'), (1,'A'), (2,'A')]`, sort them and print.

In [23]:
# TODO 1
# point = ...
point = (5, 9)
# x, y = ...
x, y = point
# print(x, y)
print(x, y)

# TODO 2
pairs = [(1,2), (3,4), (5,6)]
# sums = ...
sums = [a + b for a,b in pairs]
# print(sums)
print(sums)

# TODO 3
t = (1,2,3)
# t2 = ...
t2 = t + (4,)
# print(t2)
print(t2)

# TODO 4
records = [(2,'B'), (1,'A'), (2,'A')]
# print(sorted(records))
print(sorted(records))

5 9
[3, 7, 11]
(1, 2, 3, 4)
[(1, 'A'), (2, 'A'), (2, 'B')]